@enter-duration: 500;
@leave-duration: 300;

.enter {
    opacity: 0.01;
}
.enter.enterActive {
    opacity: 1;
    transition: opacity ~"@{enter-duration}ms" ease-in;
}
.leave {
    opacity: 1;
}
.leave.leaveActive {
    opacity: 0.01;
    transition: opacity ~"@{leave-duration}ms" ease-in;
}
:global {
    .button-appear {
        transform: scale(0, 0);
    }
    .button-appear.button-appear-active {
        transform: scale(1, 1);
        transition: transform ~"@{enter-duration}ms" ease-in;
    }
}

:export {
    enterDuration: @enter-duration;
    leaveDuration: @leave-duration;
}